# Dependencies
node_modules/
.pnp
.pnp.*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Build output
.next/
out/
build/
dist/

# Environment files
.env*
!.env.example  # Caso você tenha um exemplo de variáveis de ambiente

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
aulas.txt
mod1_2.txt
mod2.txt

# Editor and system
.DS_Store
.vscode/
.idea/

# Miscellaneous
logs
*.pem