//vms aprender variaveis
$cor-fundo : #eee;
$cor-fonte: #333;
$borda-padrao: 2px;
$fundo-padrao: green;

body {
    background-color : $cor-fundo; //como uso a variavel ? so colocar o nome q criou dela
    color: $cor-fonte;
}

.quadrado {
    width: 100px;
    height: 100px;
    border: $borda-padrao solid #000; //usei outra variavel de tam
    background-color: $fundo-padrao;
}
.retangulo {
    width: 200px;
    height: 100px;
    border: $borda-padrao solid #000;//usei novamente a msm borda padrao
    background-color: $fundo-padrao;
}
//grupos de elementos vamos criar um menu