//para importar usamos:
@import "reset"; //oq eu criei la vai aparecer aqui tmb fazendo isso ele junta os 2 arquivos em 1 so, mas precisa colocar o _
//agr q criamos o atalho no mixin, podemos colocar ele dentro do li por exemplo.
@mixin girar($graus) {
    transform:rotate($graus);
    -webkit-transform: rotate($graus);
    -moz-transform: rotate($graus);
    -ms-transform:rotate($graus + 30deg); //digamos q no explorer, preciso add mais 30deg, so escrever
}
//um ponto muito importante e identificar as hierarquias
nav {
    background-color: #eee;
    height: 100px;
    ul { //repare q vou colocar o ul dentro do nav, e consigo fazer essas edicoes igualmente, seguindo essa logica so vai funcionar os ul dentro de nav
        margin: 0;
        padding: 0;
        list-style: none; 
        li {
            display: inline-block; //um ao lado do outro
            @include girar(30deg); //to usando o mixin e pdindo pra ele girar em 30graus,e ira aplicar td aquilo q defini no mixin
            //esse e o padrao, algumas propriedades mais avancadas, alguns navegadores se comportam de forma de diferente, por isso e importante usar esses atalhos, porem da mt trabalho entao usamos o @mixin
            //transform: ..;
            //-webkit-transform: ; //chrome
            //-moz-transform: ; //mozila
            //-ms-transform: ; //explorer
            a { //repare q coloquei o a dentro do li e igual funciona.
                display: block;
                background-color: #ccc;
                padding: 10px;
                text-decoration: none;
                color: black;
            }
        }
    }
}
//